# App
APP_ENV=development
APP_PORT=8080
APP_URL=http://localhost:8080

# Database
POSTGRES_USER=YOUR-POSTGRES_USER
POSTGRES_PASSWORD=YOUR-POSTGRES_PASSWORD
POSTGRES_DB=url-shortener_db
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=YOUR-REDIS_PASSWORD

# Token
JWT_SECRET_KEY=YOUR-JWT_SECRET_KEY
JWT_EXPIRY=15m
DEFAULT_REFRESH_EXPIRY=168h
SHORT_REFRESH_EXPIRY=1h

# Admin
ADMIN_PASSWORD=YOUR-ADMIN-PASSWORD