# App
APP_ENV=
APP_PORT=
APP_URL=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Redis
REDIS_ADDR=
REDIS_PASSWORD=

# Token
JWT_SECRET_KEY=
JWT_EXPIRY=
DEFAULT_REFRESH_EXPIRY=
SHORT_REFRESH_EXPIRY=

# Admin
ADMIN_SECRET_KEY=